#navbar-logo {
	height: 34px;
	margin-top: -8px;
}

.img-framed {
	border: 0.3rem solid black;
}

.skip-line {
	margin-bottom: 1rem;
}

.twitter-button {
	background-color: #55acee;
}

.twitter-button i {
	color: #ffffff
}

body {
	font-family: "tablet-gothic-condensed", "arial narrow", arial, verdana, sans-serif;
	background: #04A389;
	color: darkslategray;
	font-size: 1.7rem;
}

#main-nav {
	background: #B73E47;
	border-color: gray;
}


