<!DOCTYPE html>
<html>

	<head>
		<link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
		<script src="https://code.angularjs.org/2.0.0-beta.6/angular2.min.js" data-semver="2.0.0" data-require="angular.js@2.0.0"></script>
		<link rel="stylesheet" href="style.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<script src="nmpallette.js"></script>

	</head>

	<body>
		<header>About Us</header>
		<h1>Who are we</h1>
		<h2>Responsive Image</h2>
		<div class="box">
			<img src="/Desktop/greenchile.svg" class="img-responsive" alt="Green Chile">
		</div>
		<div class="bs-example">
			<table class="table">
				<thead>
					<tr>
						<th>Rank</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>El Capitan</td>
						<td>Dylan</td>
						<td>McDonald</td>
						<td>dylan@deepdivedylan.com</td>
					</tr>
					<tr>
						<td>lieutenant</td>
						<td>Bradley </td>
						<td>Brown</td>
						<td>tall.white.ninja@gmail.com</td>
					</tr>
					<tr>
						<td>Apprentice</td>
						<td>Francisco</td>
						<td>Garcia</td>
						<td>fgarcia132@cnm.edu</td>
					</tr>
					<tr>
						<td>Apprentice</td>
						<td>Eliot</td>
						<td>Ostling</td>
						<td>it.treugott@gmail.com</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>

</html>
