<div class="container">

	<h1>About NMPallete</h1>

	<div class="row">
		<div class="col-md-3">
			<ul>
				<li>
					<a href="http://www.newmexico.org/green-chile-cheeseburger/">New Mexico</a>
				</li>
				<li>
					<a href="http://www.newmexico.org/">Attractions</a>
				</li>
				<li>
					<a href="http://www.newmexico.gov/visitor/">Visit</a>
				</li>
			</ul>
		</div>
		<div class="col-md-9">
			<h2>In NM we make the food just for you! </h2>
			<p>By using NM Pallete whether you are visiting or a local we can help you with the hard tasty decisions. We give you the best pairings New Mexico has to offer. From a Breakfast Burrito to a beer from Marble Brewing we have you covered! </p>
			<img src="/app/img/chile/green-lumbre.jpg" class="img-responsive" alt="Green Chile">
		</div>
	</div>
</div>