<div *ngFor="let question of questionList; let i = index">
	<div class="row">
		<p>{{ question.text }}</p>
	</div>
	<div class="row skip-line">
		<!--
			<div class="col-xs-6">
				<img class="img-framed img-rounded img-responsive" src="{{ answerList. }}">
			</div>
			<div class="col-xs-6">
				<img class="img-framed img-rounded img-responsive" src="{{  }}">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<img class="img-framed img-rounded img-responsive" src="{{  }}">
			</div>
			<div class="col-xs-6">
				<img class="img-framed img-rounded img-responsive" src="{{  }}">
			</div>-->
	<button (click)="onSelect();"></button>
	</div>
</div>
