<!DOCTYPE html>
<html>
	<head>
		<link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
		<link href="style.css" rel="stylesheet" />
		<script src="https://use.fontawesome.com/efe9539afa.js"></script>
	</head>

	<body class="sfooter">
		<div class="sfooter-content">
			<header>New Mexico Pallete</header>
			<h1 div class="welcome text-center">Welcome to Food, Beer and Chile</h1>
			<h2 div class="choice">It's Your Choice</h2>
			<div class="row">
				<div class="col-md-6">
					<p>
						Whether eating Green Chile Cheeseburgers and Chile Rellenos or drinking Slice of Hefens and Happy Campers, nothing ties food and beer together like New Mexican Chile. The Land of Enchantment is also the Land of endless and unique Food Experiences. These experiences will leave you coming back for more and it's our goal to give you the tool to help you fulfill your own. Your tastes shape your own experience so the results are made for you, by you. Now just like the Official State Question (Red or Green?): which do you prefer?
					</p>
				</div>
			</div>
			<div class="go text-center">
				<a href="http://foo.com" class="btn btn-primary btn-lg">Let's Eat! <i class="fa fa-cutlery" aria-hidden="true"></i>
				</a>
			</div>

		</div>
	</body>

</html>
