<h1>Welcome to Food, Beer and Chile</h1>
<h2 class="choice">It's Your Choice</h2>
<div class="row">
	<div class="col-md-6">
		<p>
			Whether eating Green Chile Cheeseburgers and Chile Rellenos or drinking Slice of Hefens and Happy Campers,
			nothing ties food and beer together like New Mexican Chile. The Land of Enchantment is also the Land of endless
			and unique Food Experiences. These experiences will leave you coming back for more and it's our goal to give
			you the tool to help you fulfill your own. Your tastes shape your own experience so the results are made for
			you, by you. Now just like the Official State Question (Red or Green?): which do you prefer?
		</p>
	</div>
</div>
<div>
	<a class="btn btn-primary btn-lg" [routerLink]="['/question', 1]">Let's Eat! <i class="fa fa-cutlery" aria-hidden="true"></i></a>
</div>
